<launch>

<node name="Fusion_node_LEFT" pkg="fusion_pkg" type="fusion_pkg" >
    <param name="calib_file_path" type="string" value="Calibration/Left_setup_calib/calib_data.xml" />
    <param name="pointcloud_topic" type="string" value="/left_setup/Blaze_node" />
    <param name="image_topic" type="string" value="/left_setup/rgb_camera_node" />
</node>


<!-- <node name="Fusion_node_right" pkg="fusion_pkg" type="fusion_pkg" >
    <param name="calib_file_path" type="string" value="Calibration/Right_setup_calib/calib_data.xml" />
    <param name="pointcloud_topic" type="string" value="/right_setup/Blaze_node" />
    <param name="image_topic" type="string" value="/right_setup/rgb_camera_node" />
</node> -->


<!-- run in separate terminals: 
```
rosrun fusion_pkg fusion_pkg __name:=Left_fusion _pointcloud_topic:="/left_setup/Blaze_node" _image_topic:="/left_setup/rgb_camera_node" _calib_file_path:="Calibration/Left_setup_calib/calib_data.xml"

rosrun fusion_pkg fusion_pkg __name:=right_fusion _pointcloud_topic:="/right_setup/Blaze_node" _image_topic:="/right_setup/rgb_camera_node" _calib_file_path:="Calibration/Right_setup_calib/calib_data.xml"
``` -->


<!-- <node name="rgb_camera_node" pkg="rgb_camera_pkg" type="rgb_camera_pkg"/>
<node name="Blaze_node" pkg="basler_camera_pkg" type="basler_camera_pkg"/> -->

<!-- <node name="rgb_camera_node" pkg="rgb_camera_pkg" type="rgb_camera_pkg" ns="right_setup"/> -->
<!-- <node name="Blaze_node" pkg="basler_camera_pkg" type="basler_camera_pkg" ns="right_setup"/> -->


</launch>