<launch>

<!-- Starting Left Setup -->

                <node name="rgb_camera_node_left" pkg="rgb_camera_pkg" type="rgb_camera_pkg" >
                    <param name="dev_val" type="int" value="0" />
                </node>

                <node name="Blaze_node_left" pkg="basler_camera_pkg" type="basler_camera_pkg" >
                    <param name="serial_num" type="string" value="23882275" />
                </node>    


<!-- Starting Right Setup -->

                <node name="rgb_camera_node_right" pkg="rgb_camera_pkg" type="rgb_camera_pkg" >
                    <param name="dev_val" type="int" value="1" />
                </node>


                <node name="Blaze_node_right" pkg="basler_camera_pkg" type="basler_camera_pkg" >
                    <param name="serial_num" type="string" value="24017320" />
                </node>    

<!-- <node name="Fusion_node" pkg="fusion_pkg" type="fusion_pkg"/> -->




</launch>
