<launch>

<!-- <param name="dev_val" type="int" value="0" /> -->
<node name="rgb_camera_node" pkg="rgb_camera_pkg" type="rgb_camera_pkg" ns="left_setup" >
    <param name="dev_val" type="int" value="0" />
</node>

<!-- <param name="dev_val" type="int" value="1" /> -->
<node name="rgb_camera_node" pkg="rgb_camera_pkg" type="rgb_camera_pkg" ns="right_setup">
    <param name="dev_val" type="int" value="1" />
</node>


<!-- <node name="Blaze_node" pkg="basler_camera_pkg" type="basler_camera_pkg"/> -->

<!-- <include file="$(find fusion_pkg)/launch/fusion.launch" /> -->

</launch>
